{% extends "feed/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
    <div class="row mt-5">
        {% if entrepreneur.image_profile %}
            <div class="col-12 col-md-4">
                <img class="rounded-circle account-img" src="{{ entrepreneur.image_profile.url }}">
            </div>
        {% endif %}
        <div class="col-12 col-md-8 d-flex flex-column justify-content-center">
            <h2 class="account-heading">{{ user.username }}</h2>
            <p class="text-primary">{{ user.email }}</p>
        </div>
    </div>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Información del Perfil</legend>
            {{ u_form|crispy }}
            {{ e_form|crispy }}
        </fieldset>

        <form>
            <fieldset class="form-group">

                <legend class="border-bottom mb-4">Fotos del emprendimiento</legend>
                <div class="row my-3" id="entrepreneurUploadedPhotos">
                    {% for photo in entrepreneur.photos.all %}
                            <div class="col-12 col-md-3 text-center" id="column_entrepreneur_photo_{{photo.pk}}">
                                <img id="entrepreneur_photo_{{photo.pk}}" class="rounded w-100" src="{{photo.image.url}}" alt="Foto del emprendedor">
                                <a id="{{photo.pk}}" name="link_remove_photo" href="">Eliminar <i class="fa fa-close"></i></a>
                            </div>    
                    {%endfor%}
                </div>

                <div id="survey_options">
                    <div class="input-group mb-3" name="survey_item">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="baseInputFile" name="survey_option">
                            <label class="custom-file-label" for="baseInputFile">Elegir archivo</label>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>

        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Actualizar</button>
        </div>
    </form>


    <script>
        const GET_URL = window.location;
        const BASE_URL = GET_URL.protocol + "//" + GET_URL.host + "/" + GET_URL.pathname.split('/')[1];

        const ENTREPRENEUR_PHOTO_DELETE_URL = `${BASE_URL}/photo/delete`
        const ENTREPRENEUR_PHOTO_ADD_URL = `${BASE_URL}/photo/add`

        var photoGallery = document.getElementById("entrepreneurUploadedPhotos")

        async function addEntrepreneurPhoto(url, data) {
            const response = await fetch(url, {
                method: 'POST',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                body: data
            });
            return response.json();
        }

        async function deleteEntrepreneurPhoto(url, data) {
            const response = await fetch(url, {
                method: 'DELETE',
                headers: {
                    'Content-type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                }
            });
            return response.json();
        }

        document.getElementById("baseInputFile").addEventListener("change", async function(event){
            let file = event.target.files[0];
            // No file size means no file.
            if (file.size === 0) return; // Do nothing.
            
            let formData = new FormData();           
            formData.append("file", file);

            // Make request and save file in DB
            let response = await addEntrepreneurPhoto(`${ENTREPRENEUR_PHOTO_ADD_URL}/`, formData)
            newEntrepreneurPhoto = JSON.parse(response.entrepreneurPhoto)[0]

            // Add the new photo returned to entrepreneurUploadedPhotos
            var newColumn = document.createElement('div');
            newColumn.setAttribute('class','col-12 col-md-3 text-center');
            newColumn.setAttribute('id', `column_entrepreneur_photo_${newEntrepreneurPhoto.pk}`);

            var newPhoto = document.createElement('img');
            newPhoto.setAttribute('class','rounded w-100');
            newPhoto.setAttribute('src', response.entrepreneurPhotoUrl);
            newPhoto.setAttribute('alt','Foto del emprendedor');
            newPhoto.setAttribute('id', `entrepreneur_photo_${newEntrepreneurPhoto.pk}`);

            var newAnchor = document.createElement('a');
            newAnchor.setAttribute('href','');
            newAnchor.setAttribute('id', newEntrepreneurPhoto.pk);
            newAnchor.innerHTML = "Eliminar <i class='fa fa-close'></i>";
            // Event for deleting a photo
            newAnchor.addEventListener("click", async function(e){
                e.preventDefault();
                try {
                    // Make request and delete file in DB
                    let response = await deleteEntrepreneurPhoto(`${ENTREPRENEUR_PHOTO_DELETE_URL}/${e.target.id}/`);

                    // Add an alert message for the user
                    var randLetter = String.fromCharCode(65 + Math.floor(Math.random() * 26));
                    var uniqid = randLetter + Date.now();
                    newAlertDiv = document.createElement('div');
                    newAlertDiv.setAttribute('id', uniqid)
                    newAlertDiv.setAttribute('class','alert alert-primary alert-dismissable fade show w-100');
                    newAlertDiv.setAttribute('role','alert');
                    stringForAlert = `<a href='#'' class='close' data-dismiss='alert' aria-label='close'>&times;</a> ${response.message}`;
                    newAlertDiv.innerHTML = stringForAlert;

                    photoGallery.appendChild(newAlertDiv);
                    $(`#${uniqid}`).delay(2000).fadeOut();

                    // Remove photo from the gallery
                    this.parentElement.remove()
                }
                catch (e) {
                    console.error("Error: ", e)

                    // Add an alert message for the user
                    var randLetter = String.fromCharCode(65 + Math.floor(Math.random() * 26));
                    var uniqid = randLetter + Date.now();
                    newAlertDiv = document.createElement('div');
                    newAlertDiv.setAttribute('id', uniqid)
                    newAlertDiv.setAttribute('class','alert alert-danger alert-dismissable fade show w-100');
                    newAlertDiv.setAttribute('role','alert');
                    newAlertDiv.innerHTML = `<a href='#'' class='close' data-dismiss='alert' aria-label='close'>&times;</a> Hubo un problema al eliminar la foto`;

                    photoGallery.appendChild(newAlertDiv);
                    $(`#${uniqid}`).delay(2000).fadeOut();
                }
            });

            newColumn.appendChild(newPhoto)
            newColumn.appendChild(newAnchor)

            // Add an alert message for the user
            var randLetter = String.fromCharCode(65 + Math.floor(Math.random() * 26));
            var uniqid = randLetter + Date.now();
            newAlertDiv = document.createElement('div');
            newAlertDiv.setAttribute('id', uniqid)
            newAlertDiv.setAttribute('class','alert alert-primary alert-dismissable fade show w-100');
            newAlertDiv.setAttribute('role','alert');
            newAlertDiv.innerHTML = `<a href='#'' class='close' data-dismiss='alert' aria-label='close'>&times;</a> ${response.message}`;

            photoGallery.appendChild(newColumn);
            photoGallery.appendChild(newAlertDiv);
            $(`#${uniqid}`).delay(2000).fadeOut();

            // Then clear the input for upload a new photo
        });

        // Initialize delete button in current displayed photos 
        anchor_tags = document.getElementsByName("link_remove_photo")
        if(anchor_tags.length > 0) {
            anchor_tags.forEach(anchor_tag => {
                anchor_tag.addEventListener("click", async function(e) {
                    e.preventDefault();
                    try {
                        // Make request and delete file in DB
                        let response = await deleteEntrepreneurPhoto(`${ENTREPRENEUR_PHOTO_DELETE_URL}/${e.target.id}/`)

                        // Add an alert message for the user
                        var randLetter = String.fromCharCode(65 + Math.floor(Math.random() * 26));
                        var uniqid = randLetter + Date.now();
                        newAlertDiv = document.createElement('div');
                        newAlertDiv.setAttribute('id', uniqid)
                        newAlertDiv.setAttribute('class','alert alert-primary alert-dismissable fade show w-100');
                        newAlertDiv.setAttribute('role','alert');
                        newAlertDiv.innerHTML = `<a href='#'' class='close' data-dismiss='alert' aria-label='close'>&times;</a> ${response.message}`;

                        photoGallery.appendChild(newAlertDiv);
                        $(`#${uniqid}`).delay(2000).fadeOut();

                        // Remove photo from the gallery
                        this.parentElement.remove()
                    }
                    catch (e) {
                        console.error("Error: ", e)

                        // Add an alert message for the user
                        var randLetter = String.fromCharCode(65 + Math.floor(Math.random() * 26));
                        var uniqid = randLetter + Date.now();
                        newAlertDiv = document.createElement('div');
                        newAlertDiv.setAttribute('id', uniqid)
                        newAlertDiv.setAttribute('class','alert alert-danger alert-dismissable fade show w-100');
                        newAlertDiv.setAttribute('role','alert');
                        newAlertDiv.innerHTML = `<a href='#'' class='close' data-dismiss='alert' aria-label='close'>&times;</a> Hubo un problema al eliminar la foto`;

                        photoGallery.appendChild(newAlertDiv);
                        $(`#${uniqid}`).delay(2000).fadeOut();
                    }
                });
            })
        }
    </script>
</div>
{% endblock content %}