{% extends "feed/base.html" %}
{% block content %}
    <article class="media content-section row">
        <div class="media-body col-12">
            <div class="article-metadata">
                <small class="text-muted">Creado hace {{ user.date_joined|timesince }}</small>
            </div>
            <div class="d-flex justify-content-center align-items-center mt-4">
                <img class="rounded-circle"
                width="150px"
                height="150px"
                src="{{ entrepreneur.image_profile.url }}"
                alt="Generic placeholder image">
            </div>
            <div class="d-flex justify-content-center align-items-center flex-column">
                <h2 class="article-title mt-4">{{ object.entrepreneurship_name }}</h2>
                <a class="mr-2" href="{% url 'entrepreneur-detail' entrepreneur.id %}">@{{ entrepreneur.entrepreneurship_name }}</a> 
                <span class="badge" style="color:white; background-color: {{ entrepreneur.category.color }}">{{ entrepreneur.category.description }}</span>
            </div>
            <p class="text-secondary mt-5">
                <p class="text-secondary"><b>Email del emprendimiento:</b> {{ entrepreneur.entrepreneurship_email }}</p>
                <p class="text-secondary"><b>Teléfono del emprendimiento:</b> {{ entrepreneur.phone_number }}</p>
                <p class="text-secondary"><b>Descripción:</b> {{ entrepreneur.description }}</p>
            </p>
        </div>
        <div class="col-12 px-5">
            <div id="entrepreneurPhotosCarousel" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                {% for photo in entrepreneur.photos.all %}
                    <li data-target="#entrepreneurPhotosCarousel" data-slide-to="{{forloop.counter0 }}" class="{% if forloop.first%}active{%endif%}"></li>
                {%endfor%}
                </ol>
                <div class="carousel-inner">
                {% for photo in entrepreneur.photos.all %}        
                    <div class="carousel-item{% if forloop.first %} active{% endif %}" style="height: 50vh;">                    
                    <img class="d-block w-100 rounded" src="{{photo.image.url}}" alt="Foto del emprendedor">
                    </div>
                {%endfor%}
                </div>
                <a class="carousel-control-prev" href="#entrepreneurPhotosCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Anterior</span>
                </a>
                <a class="carousel-control-next" href="#entrepreneurPhotosCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Siguiente</span>
                </a>
            </div>
        </div>
    </article>
    <div class="d-flex justify-content-between">
        <a class="btn btn-info mt-2 nav-item nav-link d-inline-block" href="{% url 'entrepreneurs' %}" role="button">Volver</a>

        {% if entrepreneur.status.description == "Pendiente" and user.is_superuser %}
            <div>
                <a class="btn btn-success mt-2 nav-item nav-link d-inline-block" href="{% url 'accept-entrepreneur-petition' entrepreneur.pk %}" role="button">Aceptar Solicitud</a>
                <a class="btn btn-danger mt-2 nav-item nav-link d-inline-block" href="{% url 'reject-entrepreneur-petition' entrepreneur.pk %}" role="button">Rechazar Solicitud</a>
            </div>
        {% endif %}
    </div>
{% endblock content %}