{% extends "feed/base.html" %}
{% block content %}
{% load crispy_forms_tags %}
{% load humanize %}
<article class="content-section">
    <h3>Emprendedores</h3>
    <form action="" method="get">
        {{filter.form|crispy }}
        <button type="submit" class="btn btn-primary">Buscar</button>
    </form>
    <ul class="list-unstyled list-group row">
        {% for entrepreneur in entrepreneur_list %}
            {% if entrepreneur.status.description == "Activo" %}
                <li class="col-12 my-4 d-flex flex-column border p-4 rounded">
                    <div class="row">
                        <div class="col-12 col-md-4 d-flex flex-row justify-content-center">
                            {% if entrepreneur.image_profile %}
                                <img class="rounded-circle"
                                height="150px"
                                width="150px"
                                src="{{ entrepreneur.image_profile.url }}" 
                                alt="Entrepreneurship profile image">
                            {% else %}
                                <img class="rounded-circle"
                                height="150px"
                                width="150px"
                                src="https://pro2-bar-s3-cdn-cf.myportfolio.com/8ee9e0df6a57e6cb08ce8298364354c5/b4dd1698f1d995ddf6dc1caf45e69d0b5550752716af226bf5b6e140d0a48ae6175a3d2b28d2d24e_car_1x1.jpg?h=2f9a2d1908efc225350ee82423d2d7b5&url=aHR0cHM6Ly9taXItczMtY2RuLWNmLmJlaGFuY2UubmV0L3Byb2plY3RzL29yaWdpbmFsLzE5Yjg3YTI5Mjc0MzkzLjU1ZWFkMmU3MWFhNDMuanBn" 
                                alt="Entrepreneurship profile image">
                            {% endif %}
                        </div>
                        <div class="col-12 col-md-8 justify-content-center mt-3">
                            <div class="d-flex flex-column text-center">
                                <h5 class="article-title">{{ entrepreneur.entrepreneurship_name }} • 
                                    <small>
                                        <span class="badge" style="color:white; background-color: {{ entrepreneur.category.color }}">{{ entrepreneur.category.description }}</span>
                                    </small>
                                </h5>
                                <a class="btn btn-dark mt-4 nav-item nav-link align-md-self-start" href="{% url 'entrepreneur-detail' entrepreneur.pk %}" role="button">Ver Emprendedor</a>
                            </div>
                        </div>
                    </div>
                </li>
            {% endif %}

        {% empty %}
            <p>No hay Emprendedores para mostrar.</p>

        {% endfor %}
    </ul>

    <!--Pagination-->
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
            <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        </li>
        {% else %}
            <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="True">Previous</a>
        </li>
        {% endif %}

        {% if page_obj.number|add:'-4' > 1 %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.number|add:'-5' }}">&hellip;</a></li>
        {% endif %}

        {% for i in page_obj.paginator.page_range %}
            {% if page_obj.number == i %}
                <li class="page-item active" aria-current="page">
            <span class="page-link">
                {{ i }}
                <span class="sr-only">(current)</span>
            </span>
            </li>
            {% elif i > page_obj.number|add:'-5' and i < page_obj.number|add:'5' %}
                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}

        {% if page_obj.paginator.num_pages > page_obj.number|add:'4' %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.number|add:'5' }}">&hellip;</a></li>
        {% endif %}

        {% if page_obj.has_next %}
            <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
        </li>
        {% else %}
            <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="True">Next</a>
        </li>
        {% endif %}
    </ul>
    </nav>
    <!--end of Pagination-->
</article>
{% endblock content %}