{% extends "feed/base.html" %}
{% block content %}
{% load humanize %}
<article class="content-section">
    <h1>Emprendedores</h1>
    <form action="" method="get">
        {{ filter.form.as_p }}
        <input type="submit" value="Buscar"/>
    </form>
    <ul class="list-unstyled">
        {% for entrepreneur in entrepreneur_list %}
        <li class="media my-4 d-flex flex-column border p-4 rounded">
            <div class="row w-100">
                <div class="col-12 d-flex flex-row">
                    {% if entrepreneur.image_profile %}
                        <img class="mr-3 rounded-circle img-fluid" 
                        src="{{ entrepreneur.image_profile.url }}" 
                        alt="Generic placeholder image"
                        style="width: 20%;">
                    {% else %}
                        <img class="mr-3 rounded-circle img-fluid" 
                        src="https://pro2-bar-s3-cdn-cf.myportfolio.com/8ee9e0df6a57e6cb08ce8298364354c5/b4dd1698f1d995ddf6dc1caf45e69d0b5550752716af226bf5b6e140d0a48ae6175a3d2b28d2d24e_car_1x1.jpg?h=2f9a2d1908efc225350ee82423d2d7b5&url=aHR0cHM6Ly9taXItczMtY2RuLWNmLmJlaGFuY2UubmV0L3Byb2plY3RzL29yaWdpbmFsLzE5Yjg3YTI5Mjc0MzkzLjU1ZWFkMmU3MWFhNDMuanBn" 
                        alt="Generic placeholder image"
                        style="width: 20%;">
                    {% endif %}
                    <div class="d-flex flex-column">
                        <h5 class="article-title">{{ entrepreneur.entrepreneurship_name }} • 
                            <small><span class="badge badge-info">{{entrepreneur.category.description}}</span></small>
                        </h5>
                        <!-- <a class="mr-2" href="{% url 'entrepreneur-detail' entrepreneur.pk %}">@{{ entrepreneur.user.username }}</a> -->
                        <!-- <small class="article-content">{{ entrepreneur.description }}</small> -->
                        <a class="btn btn-dark mt-4 nav-item nav-link align-self-start" href="{% url 'entrepreneur-detail' entrepreneur.pk %}" role="button">Ver Emprendedor</a>
                    </div>
                </div>
            </div>
        </li>

        {% empty %}
            <p>No hay Emprendedores para mostrar.</p>

        {% endfor %}
    </ul>

    {% block pagination %}
        {% if is_paginated %}
            <div class="pagination">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a href="?page=1">&laquo; first</a>
                        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}
            
                    <span class="current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>
            
                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">next</a>
                        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
            </div>
        {% endif %}
    {% endblock %}
</article>
{% endblock content %}