{% load static %}
<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'feed/main.css' %}">

    {% if title %}
        <title>Rafaela Emprende - {{ title }}</title>
    {% else %}
        <title>Rafaela Emprende</title>
    {% endif %}
</head>
<body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4 d-flex align-items-center" href="{% url 'feed-home' %}">
            <img src="https://rafaela-emprende-logos-prod.s3.amazonaws.com/Rafaela_Emprende_Logo_Small_Slow.gif" 
                width="40" 
                height="40" 
                class="d-inline-block align-top rounded-circle mr-2" 
                alt="">
            Rafaela Emprende
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <ul class="nav navbar-nav mr-auto">
              <li {% if request.resolver_match.url_name == 'feed-home' %} class="active"{% endif %}>
                <a class="nav-item nav-link" href="{% url 'feed-home' %}">Inicio</a>
              </li>
              <li {% if request.resolver_match.url_name == 'entrepreneurs' %} class="active"{% endif %}>
                <a class="nav-item nav-link" href="{% url 'entrepreneurs' %}">Emprendedores</a>
              </li>
          </ul>
            <!-- Navbar Right Side -->
            <ul class="nav navbar-nav mr-auto">
              {% if user.is_authenticated %}
                <li {% if request.resolver_match.url_name == 'profile' %} class="active"{% endif %}>
                  <a class="nav-item nav-link" href="{% url 'profile' %}">Cuenta</a>
                </li>
                <li {% if request.resolver_match.url_name == 'logout' %} class="active"{% endif %}>
                  <a class="nav-item nav-link" href="{% url 'logout' %}">Cerrar Sesión</a>
                </li>
              {% else %}
                <li {% if request.resolver_match.url_name == 'login' %} class="active"{% endif %}>
                  <a class="nav-item nav-link" href="{% url 'login' %}">Iniciar Sesión</a>
                </li>
                <li {% if request.resolver_match.url_name == 'register_client' %} class="active"{% endif %}>
                  <a class="btn btn-dark mx-2 nav-item nav-link" href="{% url 'register_client' %}" role="button">Registrarse como Usuario</a>
                </li>
                <li {% if request.resolver_match.url_name == 'register_entrepreneur' %} class="active"{% endif %}>
                  <a class="btn btn-info mx-2 nav-item nav-link" href="{% url 'register_entrepreneur' %}" role="button">Registrarse como Emprendedor</a>
                </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }} alert-dismissable fade show">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
          {% block content %}{% endblock %}
        </div>
      </div>
    </main>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>