{% extends "feed/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Informacion del Evento</legend>
                {{ form.title|as_crispy_field  }}
                {{ form.content|as_crispy_field  }}
                {{ form.direction|as_crispy_field  }}
                {{ form.cost_of_entry|as_crispy_field  }}
                {{ form.image_profile|as_crispy_field  }}

                <label for="datetimepicker_addevent" class="requiredField">
                    Fecha de Realización<span class="asteriskField">*</span>
                </label>
                <div class="input-group date" id="datetimepicker_addevent" data-target-input="nearest">
                    {{ form.datetime_of_event }}
                    <div class="input-group-append" data-target="#datetimepicker_addevent" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                    </div>
                </div>
                <script>
                    $(function () {
                        $("#datetimepicker_addevent").datetimepicker({
                            format: 'DD/MM/YYYY HH:mm',
                            icons: {
                                time: 'fa fa-clock',
                                date: 'fa fa-calendar',
                                up: 'fa fa-angle-up',
                                down: 'fa fa-angle-down',
                                previous: 'fa fa-angle-left',
                                next: 'fa fa-angle-right',
                                today: 'fa fa-calendar-check-o',
                                clear: 'fa fa-trash',
                                close: 'fa fa-times'
                            },
                        });
                    });
                </script>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Guardar</button>
            </div>
        </form>
        <a class="btn btn-info mt-2 nav-item nav-link d-inline-block" href="{% url 'events' %}" role="button">Volver</a>
    </div>
{% endblock content %}