{% extends "feed/base.html" %}
{% block content %}
{% load humanize %}
<article class="content-section">
    <h1>Eventos</h1>
    <form action="" method="get">
        {{ filter.form.as_p }}
        <input type="submit" value="Buscar" style="cursor: pointer;"/>
    </form>
    <div class="col-12 d-flex align-items-center justify-content-end">
        {% if user.is_superuser %}
            <a class="btn btn-dark mx-2 nav-item nav-link" href="{% url 'event-add' %}" role="button">
                Crear Evento
            </a>
        {% endif %}
    </div>
    <ul class="list-unstyled">
        {% for event in event_list %}
        <li class="media my-4 d-flex flex-column border p-4 rounded">
            <div class="row w-100">
                <div class="col-12 d-flex flex-row">
                    {% if event.image_profile %}
                        <img class="mr-3 rounded-circle"
                            width="150px"
                            height="150px" 
                            src="{{ event.image_profile.url }}" 
                            alt="Event profile image">
                    {% else %}
                        <img class="mr-3 rounded-circle"
                            width="150px"
                            height="150px" 
                            src="https://pro2-bar-s3-cdn-cf.myportfolio.com/8ee9e0df6a57e6cb08ce8298364354c5/b4dd1698f1d995ddf6dc1caf45e69d0b5550752716af226bf5b6e140d0a48ae6175a3d2b28d2d24e_car_1x1.jpg?h=2f9a2d1908efc225350ee82423d2d7b5&url=aHR0cHM6Ly9taXItczMtY2RuLWNmLmJlaGFuY2UubmV0L3Byb2plY3RzL29yaWdpbmFsLzE5Yjg3YTI5Mjc0MzkzLjU1ZWFkMmU3MWFhNDMuanBn" 
                            alt="Event profile image">
                    {% endif %}
                    <div class="d-flex flex-column">
                        <h5 class="article-title">{{ event.title }} • <small class="text-muted">{{ event.created_at | timesince }}</small>
                            <small>
                                <span class="badge" style="color:white; background-color: {{ event.category.color }}">{{ event.category.description }}</span>
                            </small>
                        </h5>
                        <a class="btn btn-dark mt-4 nav-item nav-link align-self-start" href="{% url 'event-detail' event.pk %}" role="button">Ver Evento</a>
                    </div>
                </div>
            </div>
        </li>

        {% empty %}
            <p>No hay Eventos para mostrar.</p>

        {% endfor %}
    </ul>

    {% block pagination %}
        {% if is_paginated %}
            <div class="pagination">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a href="?page=1">&laquo; first</a>
                        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}
            
                    <span class="current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>
            
                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">next</a>
                        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
            </div>
        {% endif %}
    {% endblock %}
</article>
{% endblock content %}