{% extends "feed/base.html" %}
{% block content %}
{% load crispy_forms_tags %}
{% load humanize %}
{% load param_replace %}

<article class="content-section">
    <h3>Eventos</h3>
    <form action="" method="GET">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Información del Evento</legend>
                {{ filter_form.text_search|as_crispy_field  }}
                {{ filter_form.cost_of_entry_min|as_crispy_field  }}
                {{ filter_form.cost_of_entry_max|as_crispy_field  }}

                <div class="mb-3">
                    <label for="datetimepicker_filterevent_fromevent" class="requiredField">
                        Desde
                    </label>
                    <div class="input-group date" id="datetimepicker_filterevent_fromevent" data-target-input="nearest">
                        {{ filter_form.datetime_from_event }}
                        <div class="input-group-text" data-target="#datetimepicker_filterevent_fromevent" data-toggle="datetimepicker">
                            <i class="fa fa-calendar"></i>
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="datetimepicker_filterevent_toevent" class="requiredField">
                        Hasta
                    </label>
                    <div class="input-group date" id="datetimepicker_filterevent_toevent" data-target-input="nearest">
                        {{ filter_form.datetime_to_event }}
                        <div class="input-group-text" data-target="#datetimepicker_filterevent_toevent" data-toggle="datetimepicker">
                            <i class="fa fa-calendar"></i>
                        </div>
                    </div>
                </div>

                <script>
                    $(function () {
                        $("#datetimepicker_filterevent_fromevent").datetimepicker({
                            format: 'DD/MM/YYYY HH:mm',
                            icons: {
                                time: 'fa fa-clock',
                                date: 'fa fa-calendar',
                                up: 'fa fa-angle-up',
                                down: 'fa fa-angle-down',
                                previous: 'fa fa-angle-left',
                                next: 'fa fa-angle-right',
                                today: 'fa fa-calendar-check-o',
                                clear: 'fa fa-trash',
                                close: 'fa fa-times'
                            },
                        });
                        $("#datetimepicker_filterevent_toevent").datetimepicker({
                            format: 'DD/MM/YYYY HH:mm',
                            icons: {
                                time: 'fa fa-clock',
                                date: 'fa fa-calendar',
                                up: 'fa fa-angle-up',
                                down: 'fa fa-angle-down',
                                previous: 'fa fa-angle-left',
                                next: 'fa fa-angle-right',
                                today: 'fa fa-calendar-check-o',
                                clear: 'fa fa-trash',
                                close: 'fa fa-times'
                            },
                        });
                    });
                </script>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info mt-3" type="submit">Buscar</button>
            </div>
        </fieldset>
    </form>
    <div class="col-12 d-flex align-items-center justify-content-end">
        {% if user.is_superuser %}
            <a class="btn btn-dark mx-2" href="{% url 'event-add' %}" role="button">
                Crear Evento
            </a>
        {% endif %}
    </div>
    <ul class="list-unstyled list-group row">
        {% for event in event_list %}
        <li class="col-12 my-4 d-flex flex-column border p-4 rounded">
            <div class="row">
                <div class="col-12 col-md-4 d-flex flex-row justify-content-center">
                    {% if event.image_profile %}
                        <img class="rounded-circle"
                            height="150px"
                            width="150px"
                            src="{{ event.image_profile.url }}" 
                            alt="Event profile image">
                    {% else %}
                        <img class="rounded-circle"
                            height="150px"
                            width="150px"
                            src="https://pro2-bar-s3-cdn-cf.myportfolio.com/8ee9e0df6a57e6cb08ce8298364354c5/b4dd1698f1d995ddf6dc1caf45e69d0b5550752716af226bf5b6e140d0a48ae6175a3d2b28d2d24e_car_1x1.jpg?h=2f9a2d1908efc225350ee82423d2d7b5&url=aHR0cHM6Ly9taXItczMtY2RuLWNmLmJlaGFuY2UubmV0L3Byb2plY3RzL29yaWdpbmFsLzE5Yjg3YTI5Mjc0MzkzLjU1ZWFkMmU3MWFhNDMuanBn" 
                            alt="Event profile image">
                    {% endif %}
                </div>
                <div class="col-12 col-md-8 justify-content-center mt-3">
                    <div class="d-flex flex-column text-center">
                        <h5 class="article-title">{{ event.title }}
                            </br>
                            • 
                            </br>
                            <small class="text-dark">
                                {% if event.datetime_of_event < datetime_now %}
                                    hace {{ event.datetime_of_event | timesince }} 
                                {% else %}
                                    falta {{ event.datetime_of_event | timeuntil:datetime_now }}
                                {% endif %}
                            </small>
                            <small class="d-block text-dark" style="font-size: .9rem">
                                <span>({{ event.datetime_of_event }})</span>
                            </small>
                        </h5>
                        <a class="btn btn-dark mt-4 align-md-self-start" href="{% url 'event-detail' event.pk %}" role="button">Ver Evento</a>
                    </div>
                </div>
            </div>
        </li>

        {% empty %}
            <p class="text-center"><b>No hay Eventos para mostrar.</b></p>

        {% endfor %}
    </ul>


    <!--Pagination-->
    <div class="row mb-5">
        <div class="col-12 col-md-4">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                    Número de resultados: {{ paginate_by }}
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li><a {% if paginate_by == 2 %} selected {% endif %}   class="dropdown-item" href="?{% param_replace paginate_by=2 %}">2</a></li>
                    <li><a {% if paginate_by == 5 %} selected {% endif %}   class="dropdown-item" href="?{% param_replace paginate_by=5 %}">5</a></li>
                    <li><a {% if paginate_by == 10 %} selected {% endif %}  class="dropdown-item" href="?{% param_replace paginate_by=10 %}">10</a></li>
                    <li><a {% if paginate_by == 25 %} selected {% endif %}  class="dropdown-item" href="?{% param_replace paginate_by=25 %}">25</a></li>
                    <li><a {% if paginate_by == 50 %} selected {% endif %}  class="dropdown-item" href="?{% param_replace paginate_by=50 %}">50</a></li>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-8"></div>
    </div>

    <div class="row">
        <div class="col-12">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?{% param_replace page=page_obj.previous_page_number %}">Previous</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="True">Previous</a>
                    </li>
                {% endif %}

                {% if page_obj.number|add:'-4' > 1 %}
                    <li class="page-item"><a class="page-link" href="?{% param_replace page=page_obj.number|add:'-5' %}">&hellip;</a></li>
                {% endif %}

                {% for i in page_obj.paginator.page_range %}
                    {% if page_obj.number == i %}
                        <li class="page-item active" aria-current="page">
                    <span class="page-link">
                        {{ i }}
                        <span class="sr-only">(current)</span>
                    </span>
                    </li>
                    {% elif i > page_obj.number|add:'-5' and i < page_obj.number|add:'5' %}
                        <li class="page-item"><a class="page-link" href="?{% param_replace page=i %}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}

                {% if page_obj.paginator.num_pages > page_obj.number|add:'4' %}
                    <li class="page-item"><a class="page-link" href="?{% param_replace page=page_obj.number|add:'5' %}">&hellip;</a></li>
                {% endif %}

                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?{% param_replace page=page_obj.next_page_number %}">Next</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="True">Next</a>
                    </li>
                {% endif %}
            </ul>
            </nav>
        </div>
    </div>
    <!--end of Pagination-->
</article>
{% endblock content %}