{% extends "feed/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <article class="media content-section row">
        <div class="media-body col-12">
            <div class="article-metadata">
                <small class="text-muted">Creado hace {{ event.created_at|timesince }}</small>
            </div>
            <div class="d-flex justify-content-center align-items-center mt-4">
                <img class="rounded-circle"
                width="150px"
                height="150px"
                src="{{ event.image_profile.url }}"
                alt="Generic placeholder image">
            </div>
            <p class="text-secondary mt-5">
                <p class="text-secondary"><b>Título:</b> {{ event.title }}</p>
                <p class="text-secondary"><b>Descripción:</b> {{ event.content }}</p>
                <p class="text-secondary"><b>Dirección:</b> {{ event.direction }}</p>
                <p class="text-secondary"><b>Fecha de realización:</b> {{ event.datetime_of_event }}</p>
                <p class="text-secondary"><b>Costo de Entrada:</b> ${{ event.cost_of_entry }}</p>
            </p>
            {% if user.entrepreneur and user.entrepreneur.status.description == "Activo" and not entrepreneur_already_participates%}
                <div class="d-flex justify-content-center">
                    <a class="btn btn-dark mt-2 nav-item nav-link d-inline-block" href="{% url 'entrepreneur-make-event-petition' event.pk %}" role="button">
                        ¡Quiero Participar!
                    </a>
                </div>
            {% endif %}
        </div>
    </article>
    <div>
        <h4>Comentarios</h4>
        {% for comment in event.comments.all %}
            <b>{{ comment.user.username }}</b> dijo hace <b>{{ comment.created_at|timesince }}</b>
            <p>{{ comment.content }}</p>
            {% empty %}
            <p>No dude en dejar el primer comentario!</p>
        {% endfor %}
        <hr>
        <h3>Agregar un comentario</h3>
        <form action="" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-outline-info" type="submit">Enviar</button>
        </form>
    </div>
    <a class="btn btn-info mt-2 nav-item nav-link d-inline-block" href="{% url 'events' %}" role="button">Volver</a>
    {% if user.is_superuser %}
        <a class="btn btn-dark mt-2 nav-item nav-link d-inline-block" href="{% url 'event-update' event.pk %}" role="button">
            Actualizar Evento
        </a>
    {% endif %}
{% endblock content %}