{% extends "feed/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
    <div class="media">
        {% if event.image_profile %}
            <img class="rounded-circle account-img" src="{{ event.image_profile.url }}">
        {% endif %}
        <div class="media-body">
            <h2>{{ user.username }}</h2>
            <p class="text-secondary">{{ user.email }}</p>
        </div>
    </div>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Información del Evento</legend>
            {{ u_form|crispy }}
            {{ e_form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Actualizar</button>
        </div>
    </form>
    <a class="btn btn-info mt-2 d-inline-block" href="{% url 'events' %}" role="button">Volver</a>
</div>
{% endblock content %}