{% extends "feed/base.html" %}
{% block content %}
  {% load humanize %}
  <h1 style="text-align:center;">¡Bienvenidos a Rafaela Emprende!</h1>
    <!--{% for post in posts %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ post.author }}</a>
              <small class="text-muted">hace {{ post.date_posted|timesince }}</small>
            </div>
            <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content }}</p>
          </div>
        </article>
    {% endfor %}-->
    <h4 style="text-align:center;">Este es un sitio en el que podrán conocer eventos y emprendedores de Rafaela y ciudades aledañas.</h4>
    <ul>
      <li>
        Desde la sección Emprendedores podrán navegar buscando perfiles de emprendedores y/o emprendimientos, filtrando por nombres.
      </li>
      <li>
        Desde la sección Eventos podrán acceder a toda la información de los eventos sobre las ferias que se irán subiendo a medida que la Municipalidad los va organizando.
      </li>
      <li>
        Desde la opción Perfil de Emprendedor, podrán crearse su perfil de emprendedor, adjuntando toda la información necesaria. 
      </li>
    </ul>
{% endblock content %}