{% extends "feed/base.html" %}
{% block content %}
  {% load humanize %}
  <h1 style="text-align:center;">¡Bienvenidos a Rafaela Emprende!</h1>
    <h4 style="text-align:center;">Este es un sitio en el que podrán conocer eventos y emprendedores de Rafaela y ciudades aledañas.</h4>
    <ul>
      <li>
        Desde la sección Emprendedores podrán navegar buscando perfiles de emprendedores y/o emprendimientos, filtrando por nombres.
      </li>
      <li>
        Desde la sección Eventos podrán acceder a toda la información de los eventos sobre las ferias que se irán subiendo a medida que la Municipalidad los va organizando.
      </li>
      <li>
        Desde la opción Perfil de Emprendedor, podrán crearse su perfil de emprendedor, adjuntando toda la información necesaria. 
      </li>
    </ul>
{% endblock content %}