{% extends "feed/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Ingresar</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group mb-3">
                <button class="btn btn-outline-info" type="submit">Ingresar</button>
                <small class="text-dark ms-2">
                    <a href="{% url 'password_reset' %}">¿Olvidaste la contraseña?</a>
                </small>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-dark">
                ¿No tenés una cuenta? 
                <a class="me-2" href="{% url 'register' %}">Registrarse ahora</a>
            </small>
        </div>
    </div>
{% endblock content %}