{% extends "feed/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
      <div class="media">
        <div class="media-body">
          <h2 class="account-heading">{{ user.username }}</h2>
          <p class="text-secondary">{{ user.email }}</p>
        </div>
      </div>
      <div>
        {% if entrepreneur %}
          <hr />
          <div>
            <div class="d-flex justify-content-center align-items-center">
                <img class="rounded-circle img-fluid w-25" 
                src="{{ entrepreneur.image_profile.url }}"
                alt="Generic placeholder image">
            </div>
            <div class="media-body">
              <h2>Perfil Emprendedor</h2>
              <p class="text-secondary">
                <a class="mr-2" href="{% url 'entrepreneur-detail' entrepreneur.id %}">@{{ entrepreneur.entrepreneurship_name }}</a> 
                • 
                <span class="badge badge-info">{{ entrepreneur.category.description }}</span>
                <span class="badge badge-primary">Estado: {{ entrepreneur.status.description }}</span>
              </p>
              <p class="text-secondary">Email del emprendimiento: {{ entrepreneur.entrepreneurship_email }}</p>
              <p class="text-secondary">Teléfono del emprendimiento: {{ entrepreneur.phone_number }}</p>
              <p class="text-secondary">Descripción: {{ entrepreneur.description }}</p>
            </div>
            <div class="d-flex align-items-start">
              <a class="btn btn-outline-info mt-4 nav-item nav-link" href="{% url 'entrepreneur-update' entrepreneur.pk %}" role="button">Actualizar perfil</a>
            </div>
          </div>
        {% else %}
          <div class="d-flex align-items-start">
            <a class="btn btn-outline-info mt-4 nav-item nav-link" href="{% url 'entrepreneur-add' %}" role="button">Quiero ser Emprendedor!</a>
          </div>
        {% endif %}
      </div>
    </div>
    </div>
{% endblock content %}